</br>
<div class="page-header">
  <h1>Pick Up Ringers</h1>
</div>

<div class="row" style="background-color: #f0f0f0; border-top-left: 10px; border-top-right: 10px; ">
  <div class="col-xs-6 col-sm-1"></div>
  <div class="col-xs-6 col-sm-2"><h4>Name</h4></div>
  <div class="col-xs-6 col-sm-2"><h4>City</h4></div>
  <div class="col-xs-6 col-sm-4"><h4>Sports</h4></div>
  <div class="col-xs-6 col-sm-2"><h4>Competition Level</h4></div>
</div>

<% @ringer_sport_pairs.each do |ringersportpair| %>
  <div class="row">
    <div class="col-xs-6 col-sm-1"><a href="/ringers/<%= ringersportpair[:ringer].id.to_s %>/show"><img width="60" src=<%= ringersportpair[:ringer][:img_url]%>></a></div>
    <div class="col-xs-6 col-sm-2">
      <% ringerlink="ringers/" + ringersportpair[:ringer].id.to_s + "/show" %>
      <h5><a href=<%=ringerlink%>><%=ringersportpair[:ringer][:first]%> <%=ringersportpair[:ringer][:last]%></a></h5>
    </div>
    <div class="col-xs-6 col-sm-2">
      <h5><%=ringersportpair[:ringer][:city]%>, <%=ringersportpair[:ringer][:state]%></h5>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h5><%=ringersportpair[:sports].join(", ") %></h5>
    </div>
    <div class="col-xs-6 col-sm-2">
      <h5><%=ringersportpair[:ringer]["comp_level"]%></h5>
    </div>
  </div>

<% end %>

