
<div class="page-header">
  <%= link_to "Edit", "/products/#{@product.id}/edit", :class => "btn btn-md btn-success pull-right" %>
  <h1>Product Details</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <img class="col-md-12" src="<%= @product.image_url %>">
  </div>
  <div class="col-md-8">
    <h3><%= @product.name %></h3>
    <p><strong>Average Rating: <%= @reviews.average(:rating).to_f %> Stars</strong></p>
    <p class="lead"><%= number_to_currency(@product.price) %></p>
    <p><%= @product.description %></p>
  </div>
</div>


<h2>Customer Reviews</h2>

<div class="row">
  <div class="col-md-8">

    <% if @reviews.any? %>
      <% @reviews.each do |review| %>
        <div class="row review">
          <div class="col-md-12">
            <p class="lead">
              <% review.rating.times do %>
                &starf;
              <% end %>
              <%= review.title %>
            </p>
            <p>by <%= User.find_by(:id => review.user_id).username %></p>
            <p><%= review.body %></p>
          </div>
        </div>

      <% end %>
    <% else %>
      <h3>Be the first to review this item!</h3>
    <% end %>

  </div>

<% if session[:user_id].present? %>
  <div class="col-md-4 sidebar">
    <p><strong>Let Us Know What You Think About This Item.</strong></p>

    <form action="/reviews/create">

      <input name="item_id" value=<%= @product.id %> type="hidden">

      <select name="user_id">
        <% User.all.each do |user| %>
          <option value="<%= user.id %>"><%= user.username %></option>
        <% end %>
      </select>

      <div class="form-group">
        <input name="title" type="text" class="form-control input-md" placeholder="Title">
      </div>
      <div class="form-group">
        <select name="rating">
          <option value="1">1 Star</option>
          <option value="2">2 Stars</option>
          <option value="3">3 Stars</option>
          <option value="4">4 Stars</option>
          <option value="5">5 Stars</option>
        </select>
      </div>

      <div class="form-group">
        <textarea name="body" class="form-control input-md" rows="5" placeholder="Your review goes here. Keep it brief." ></textarea>
      </div>
      <input type="submit" class="btn btn-md btn-success" value="Submit My Review">
    </form>
  </div>
  <% else %>
  <h2><a href="/login" class="btn btn-primary btn-large">Sign in to Review</a></h2>
  <% end %>
</div>

